<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926959893806-c348kpu1b8kd0jspo15u06jf7briof1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926959893806-c348kpu1b8kd0jspo15u06jf7briof1a</string>
	<key>API_KEY</key>
	<string>AIzaSyBkJ500pppsoBQvPeDbm7E1EesIXGfCPWY</string>
	<key>GCM_SENDER_ID</key>
	<string>926959893806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.officialmateapp.mateapp</string>
	<key>PROJECT_ID</key>
	<string>mate-app-e8033</string>
	<key>STORAGE_BUCKET</key>
	<string>mate-app-e8033.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926959893806:ios:ab629eb4823739cef08ebf</string>
	<key>DATABASE_URL</key>
	<string>https://mate-app-e8033.firebaseio.com</string>
</dict>
</plist>